# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Ignore XR3Player folders
/XR3Database
/rubbishCode
*.flac
*.mp3
/bin/
/target/

/libraries
dropbox-app-tokens.json

/downloads
/uploads
/test
/futurecode
/dropbox-app-info.json
.settings
/.rebel.xml.bak
BuildAndDeploy.bat
76df3287-6cda-33eb-8e9a-044b5e15ffdd_829521842.jpg
XR3Player New Release Files/XR3Player.exe

/releases/fat-jar-pom.xml
/releases/xr3player.xml
/.settings/
.project
.classpath
spartanizer.xml
New Release.html
