/*******************************************************************************

*                         userInformationMode                        *

******************************************************************************/
.infoLabel{
	-fx-text-fill:white;
	-fx-font-weight:bold;
	-fx-font-size:20;
}