

.topButton{
	-fx-text-fill:white;
	-fx-font-weight:bold;
	-fx-border-color:orange;
	-fx-border-width:1.0;
	-fx-border-style:segments(12.0) ;	
}

.settings-controller {	
	-fx-background-color:firebrick;
	-fx-background-insets:5.0;	
	-fx-padding:5.0;
	
}

.settings-controller .toggle-button{
	-fx-text-fill:white;
	-fx-font-weight:bold;
	
}

.time-slider{
	-fx-cursor:hand;
}

.time-slider .axis .axis-tick-mark, .slider .axis .axis-minor-tick-mark {
    -fx-text-fill:white;
	-fx-stroke:white;
}


.time-slider .axis {
    -fx-tick-label-fill: white;
    -fx-tick-label-font-weight: bold;
    -fx-tick-length: 7.0px;
}

.label{
	
	-fx-text-fill:black;
	-fx-font-size:13.0;
	-fx-font-weight:bold;
}

.text-area {
	-fx-font-weight:bold;
}
